.bg-main {
  background-image: url("bg_main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  background-position: 0 35%;
}

.bg-main img {
  filter: brightness(50%);
}
.customMenuLbl {

  color:#3273dc;
}

.leaflet-container {
  z-index: 10;
  height: 30rem;
  width: 100%;
}

.buttonMenuIndrawRoute {
   font-weight: bold;
     border-color: black;
}
.link-button {
  background-color: transparent;
  color: #0078A8;
  border: none;
  cursor: pointer;
  display: inline;
 }
 .login-main {
  background-image: url("login1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  background-position: 0 35%;
}

.reg-main {
  background-image: url("log_main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  background-position: 0 35%;
}

.footer_cust_css {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}